body{
    background-image: url('pics/assets/aamu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    margin: 0px 0px 0px 40px;
    padding: 0;
    overflow-x: hidden;
    
}

h1 {
     color: #ac9ea2;
     font-family: "Great Vibes", cursive;
     font-size: 80px;
     line-height: 120px;
     font-weight: normal; margin-bottom: 0px;
     margin-top: 20px;
     text-align: left;
     text-shadow: 0 1px 1px #fff;
  
     
    }
     

h2{
    color: #ac9ea2;
     font-family: "Great Vibes", cursive;
     font-size: 30px;
     line-height: 80px;
     font-weight: normal; margin-bottom: 0px;
     margin-top: 0px;
     text-align: left;
     text-shadow: 0 1px 1px #f1d7d7; }
    
p{
    color: #a09e9e;
     font-family: "Great Vibes", cursive;
     font-size: 20px;
     line-height: 30px;
     font-weight: normal; margin-bottom: 0px;
     margin-top: 0px;
     text-align: left;
     text-shadow: 0 1px 1px #f1d7d7; }

    .gridcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .syottolaatikko{
    position: absolute;
    left: 6rem;
    bottom: 6rem;
    width: 6rem;
    height: 3rem;
    background-color: #7a7676;
    width: 300px;
    height: 450px;
    padding: 40px 30px 70px;
    border: px solid #ac9ea2;
    border-radius: 40px;
    float: left;
    text-align: left;
    box-shadow: 0 0 0px #ac9ea2;
    opacity: 0.9;
    z-index: 1;
    transition: transform 0.3s;
    }

    #sl1 {
        /* your existing styles for sl1 */
         /* Set initial opacity to 0 */
        opacity: 1;
        /* Add a transition for opacity */
        transition: opacity 0.7s ease-in-out;
        
    }

    #sl1.fade{
       
        
        opacity: 0;
    }

    .syottolaatikko h2 {
    color:rgb(255, 255, 255)
    
    }
    

    .row {
        display: flex;
    }

    .col-md-6 {
        width: 50%;
    }

    .tavaralaatikko1{
        background-color: #5e5e5e;
        width: 180px;
        height: 200px;
        padding: 40px 30px 70px;
        border: px solid #ac9ea2;
        border-radius: 40px;
        float: left;
        text-align: left;
        box-shadow: 0 0 0px #ac9ea2;
        opacity: 0.9;
        margin: 15px;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
        
        
        }
        
        .tavaralaatikko1 p{
            font-size: 20px;
            margin-bottom: 10px
            
        }

        
        

    .add-button {
        
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 60px;
        font-size: 2.5rem;
        border-color: rgb(255, 255, 255);
        border: 0;
        z-index: 2;
        background-color: rgb(158, 170, 170);
        font-size: 3rem;
        color:antiquewhite;
        cursor: pointer;
        
       
        
    }

   

    #addButton {
        /* Aseta alkuperäinen kokosuhde */
        transform: scale(1);
        
        /* Aseta transition-ominaisuudet */
        transition-property: transform;
        transition-duration: 0.3s; /* Aika, joka animaation kestää */
        transition-timing-function: ease; /* Animaation ajoitusfunktio (voit vaihtaa sen haluamaasi) */
    }

    .delete-button{
        position: absolute;
        left: 2.5rem;
        bottom: 10.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 60px;
        font-size: 2.5rem;
        border-color: rgb(255, 255, 255);
        border: 0;
        z-index: 1;
        background-color: rgb(158, 170, 170);
        font-size: 3rem;
        color:antiquewhite;
        cursor: pointer;

    }

    body.vaalenna {
        background-color: rgba(29, 8, 8, 0.5); /* Taustan vaalea väri */
        filter: blur(5px); /* Voit säätää sumennuksen voimakkuutta tarpeen mukaan */
        opacity: 2.5;
    
    }

    #deleteButton {
        /* Aseta alkuperäinen kokosuhde */
        transform: scale(1);
        
        /* Aseta transition-ominaisuudet */
        transition-property: transform;
        transition-duration: 0.3s; /* Aika, joka animaation kestää */
        transition-timing-function: ease; /* Animaation ajoitusfunktio (voit vaihtaa sen haluamaasi) */
    }
    
    /* Poistamistilaan liittyvä CSS-sääntö */
    #deleteButton.poistamistila {
        transform: scale(1.5);
    }

    .delete-button:hover {
        transform: scale(1.2); /* Suurenna nappia, kun kursori on napin päällä */
    }


    .setTitle{
        color: #dadada;
        font-family: "Arial", cursive;
        font-size: 20px;
        line-height: 40px;
        font-weight: normal; margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        text-shadow: 0 1px 1px #f1d7d7; 
        background-color: #9b9a9a;
        width: 100%;
        border-radius: 30px;
        border: 0;
        margin-bottom: 2.5rem;
        outline: none;
        cursor: pointer;
        padding: 1px 20px;
        
        
    }

    .setTitle:focus {
        outline: none;
    }

    .syottolaatikko p{
        color:rgb(239, 241, 243)


    }

    .add-task{
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        border-radius: 20px;
        border: 0;
        font-size: 1rem;
        background-color: #413d41;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        
        
        
    }

    .form-group{
        margin-bottom: 0px;

    }

    .setDesc{
        color: #fff7f9;
        font-family: "Arial", cursive;
        font-size: 15px;
        line-height: 50px;
        font-weight: normal; margin-bottom: 0px;
        margin-top: 0px;
        text-align: left;
        text-shadow: 0 1px 1px #f1d7d7; 
        background-color: #9b9a9a;
        width: 100%;
        border-radius: 15px;
        border: 0;
        margin-bottom: 3rem;
        outline: none;
        cursor: pointer;
        padding: 1px 20px;
        resize: none;
    }

    .send-button-container{
        position: relative;
        margin-top: 1rem;
    }

         .send-Button{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 5.5rem;
            height: 2.5rem;
            border-radius: 60px;
            border-color: rgb(255, 255, 255);
            border: 0;
            z-index: 1;
            background-color: rgb(74, 78, 83);
            font-size: 1rem;
            color:antiquewhite;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            
        }

        .send-Button:hover{
            background-color: rgb(158, 170, 170);
            color: #000;
            
            
        }

        #valitusteksti {
            color: rgb(249, 60, 60);
            font-size: 1rem;
            margin: 0;
        }

        .otsikko {
            font-size: 1.5rem;
            position: absolute;
            top: -4;
            left: 26px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding-right: 5px;
            
        }

        #otsikkoTavaralaatikko{
            font-size: 22px; /* Voit muuttaa tämän koon sopivaksi peruskooksi */
            max-width: 100%;
            max-height: 40px; /* Voit muuttaa tämän korkeuden sopivaksi tarpeidesi mukaan */
             /* Piilotetaan ylimenevä teksti */
              /* Estää tekstin menemisen useammalle riville */
            margin-bottom: 20px;
            text-align: center;
            
            
        }


       
        
        

        
        #paivamaaraTavaralaatikko{
            font-size: 12px; /* Voit muuttaa tämän koon sopivaksi peruskooksi */
            max-width: 100%;
            max-height: 50px; /* Voit muuttaa tämän korkeuden sopivaksi tarpeidesi mukaan */
            margin-bottom: 20px;

        }

        #kuvausTavaralaatikko{
            font-size: 15px; /* Voit muuttaa tämän koon sopivaksi peruskooksi */
            max-width: 100%;
           /* Voit muuttaa tämän korkeuden sopivaksi tarpeidesi mukaan */
            max-height: 130px;
            overflow: auto;
            

        }

        
        

        

        .right-div{
            width: 60%;
            float: right;

        }

        .fade-in {
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out forwards;
          }
          
          @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }

          .fade-out {
            opacity: 1;
            animation: fadeIn 0.5s ease-in-out forwards;
          }

          @keyframes fadeOut {
            from {
              opacity: 1;
            }
            to {
              opacity: 0;
            }
          }

          .fade-in-sl1 {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
          }